
#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #FFFFFF;
	font: 17px Arial, Helvetica, sans-serif;
	background: url(../img/login-box-backg.png)  no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}
.sectionMedio{
    float: left;
     /*float: right;*/
     width: 500px;
     height:350px;
     text-align: center;
     margin-left: 400px;
     background-color:#1e4f8a;
     overflow-y: auto;
     }

#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
    width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
    margin-left: 70px;
	width: 250px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}
.campoTemp  {
	width: 80px;
    padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
    margin-left: 5px;
   }
   .campoModal  {
	width: 260px;
    padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#FFFFFF;
	font-size: 16px;
	color: #000000;
    margin-left: 30px;
   }
 .SelectModal  {
    width: 80px;
    padding: 8px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#FFFFFF;
	font-size: 13px;
	color: #000000;
    margin-left: 5px;
   }

.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

